body{
    font-family: 'Ms Madi', cursive;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(180deg,rgba(244, 133, 133, 0.895),rgb(126, 255, 126)); 
}
header{
    font-family: 'Bebas Neue', cursive;
}
h1{
    color: green;
    text-align: center;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive; 
}
h3{
    font-family: 'Bebas Neue', cursive; 
    font-size: 40px;
    text-align: center;
}
.introduction p{
    font-size: 20px;
    text-align: justify;
    
}
.first-part{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.introduction{
    width: 40%;
}
    
.map-image{
    width: 40%;
}
.map-image img{
    width: 90%;
    padding-left: 150px;
}
.btn{
    background-color: salmon;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}
.btn:hover{
    color: white;
    cursor: pointer;
}
.dhaka{
    width: 24%;
    margin-left: 100px;
}
.dhaka img {
    width: 100%;
}
.khulna img {
    width: 100%;
}
.rajshahi img {
    width: 100%;
}
.khulna{
    width: 24%;
    margin-left: 70px;
}
.rajshahi{
    width: 24%;
    margin-left: 70px;
}
.second-part{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}
.shadow{
    box-shadow: 10px 10px 30px black;
}
.padding p{
    padding: 0px 10px;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}